.home-page{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.3);
    width: auto;
    margin: auto;
    min-width: 80%;
    min-height: 700px;
}

.lobby-card{
    padding: 20px;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.lobby-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2)
}

.room-container{
    background-color: #9fbdc9;
    border-radius: 10px;
    overflow-y: auto;
    min-height: 60vh;
    max-height: 60vh;
    padding: 10px 0;
}

.no-lobbies{
    text-align: center;
    padding: 20px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding-right: 10px;
}

.profile-picture{
    width: 50px;
    border-radius: 10px;
}

.profile-username{
    color: aliceblue
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
}