.chatbox-container{
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    background: #f7fafc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.chatbox-message{
    background: #e9eaea;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 95%;
}