canvas{
    border: 1px solid #cacaca;
    background-color: white;
    cursor: crosshair;
    width: 100%;
    height: auto;
}

.player-list{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

@keyframes flashingCountdown {
    0%, 100% {color: red;}
    50% {color: black}
}

.flash{
    animation: flashingCountdown 1s infinite;
}

.game-stats{
    display: flex;
}

.hints-container{
    display: flex;
}

.hint{
    margin-right: 3px;
}

.lobby-id{
    color: grey;
    font-weight: 250
}
.canvas-container{
    width: 100%;
    height: auto;
    position: relative;
}


.drawing-word-container{
    position: relative;
    padding: 0 !important; 
}

.reveal-word{
    position: absolute;
    aspect-ratio: auto 800/600;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-point-container{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-name{
    font-weight: bold;
}

.player-points{
    font-weight: bold;
    color: rgb(19, 215, 19);
    margin-left: 10px;
}

.podium{
    display: flex;
    align-items: flex-end;
    gap: 70px;
    justify-content: center;
}

.podium-position{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    width: 120px;
}

.podium-user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 8px;
    gap: 2px;
}

.picture{
    width: 120px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #383434;
    flex-shrink: 0;
}

.position-number{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    height: 40px;
    width: 40px;
}

.username{
    font-size: 1.3em;
}

.finish-message{
    position: relative;
    top: 100px;
}

.colour-picker{
    display: flex;
    flex-direction: column;
}

.light-colours, .dark-colours{
    display: flex;
    flex-direction: row;
}

.colour-item{
    width: 25px;
    height: 25px;
    padding: 3px;
    transition: transform 0.2s ease-in-out;
}

.light.colour-item:first-child, .dark.colour-item:first-child{
    border-radius: 4px 0 0 4px;
}

.light.colour-item:last-child, .dark.colour-item:last-child{
    border-radius: 0 4px 4px 0;
}

.colour-item:hover{
    transform: scale(1.1);
}

.light.colour-item:hover .colour-inner{
    box-shadow: 0 0 0 2px #000000;
}

.dark.colour-item:hover .colour-inner{
    box-shadow: 0 0 0 2px #cbc8c8;
}

.light.colour-item.selected .colour-inner{
    box-shadow: inset 0 0 0 2px #383434;
}

.dark.colour-item.selected .colour-inner{
    box-shadow: inset 0 0 0 2px #b3b0b0;
}

.colour-inner{
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: box-shadow 0.2s ease-in-out
}

.canvas-toolbar{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}