canvas{
    border: 1px solid #cacaca;
    background-color: white;
    cursor: crosshair;
}

.player-list{
    height: 100vh;
    overflow-y: auto;
}

@keyframes flashingCountdown {
    0%, 100% {color: red;}
    50% {color: black}
}

.flash{
    animation: flashingCountdown 1s infinite;
}

.game-stats{
    display: flex;
}

.hints-container{
    display: flex;
}

.hint{
    margin-right: 3px;
}

.lobby-id{
    color: grey;
    font-weight: 250
}
.canvas-container{
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: auto;
    position: relative;
}