body{    
     background-image: url(../public/AdobeStock_593135125.png); 
    /* background-image: url(../public/Larger\ Image.png); */
    background-size: 500px;
    background-repeat: repeat;
    background-color: #0b4ac1!important;
}

.card-clipboard{
    transition: background-color 0.3s, transform 0.3s;
}

.card-clipboard:active{
    transform: scale(0.97)
}

.card-clipboard:hover{
    border: black;
    background-color:#50a4fe 
}

.card-clipboard.copied{
    background-color: #d4edda;
}

.clipboard-feedback{
    color: #2a6b39;
    font-weight: bold;
    animation: fade 2s;
}

@keyframes fade{
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
}

.nav-link {
    text-align: center;
}
  
.card-header{
    background-color: rgb(243, 243, 243);
}

.nav-pills .nav-link.active {
    color: #fff !important;
    background-color: #007bff !important;
}
  

.nav-pills .nav-link {
    border-radius: 10px !important;
    border: 1px solid #007bff !important;
    min-width: 150px !important;
}

.nav-item{
    margin: 0.5rem !important;
}
  
  /* Style for the card to match the design */
.card {
    box-shadow: 0px 4px 20px 20px rgb(0 0 0 / 11%);
    border: none;
}