body{    
    background-image:url(https://gartic.io./static/images/new/textura.png);
    background-size: 750px;
    background-repeat: repeat;
    background-color: #4580ed!important;
}

.card-clipboard{
    transition: background-color 0.25s;
}

.card-clipboard:hover{
    border: black;
    background-color:#50a4fe 
}

.nav-link {
    text-align: center;
}
  
.card-header{
    background-color: rgb(243, 243, 243);
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #007bff;
}
  

.nav-pills .nav-link {
    border-radius: 10px;
    border: 1px solid #007bff;
    min-width: 150px;
}

.nav-item{
    margin: 0.5rem;
}
  
  /* Style for the card to match the design */
.card {
    box-shadow: 0px 4px 20px 20px rgb(0 0 0 / 11%);
    border: none;
}